In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error,r2_score

In [2]:
df = pd.read_csv('fruit_classification_dataset.csv')
df.head(20)

    size (cm)  shape  weight (g)  avg_price (₹)   color  taste     fruit_name
0        25.4  round      3089.2          137.1   green  sweet     watermelon
1        24.6  round      3283.9          163.8   green  sweet     watermelon
2         7.8  round       319.0           91.3   green  sweet  custard apple
3        20.0   oval      1607.0           85.7  orange  sweet         papaya
4        10.2   long       131.5           37.8  yellow  sweet         banana
5        19.4   oval      1404.1           86.0  orange  sweet         papaya
6         6.3  round       262.3          125.0     red  sweet    pomegranate
7         0.9  round         5.4            9.4  purple  sweet          grape
8         4.0  round        46.4           66.9  purple  tangy           plum
9         7.6  round       274.7           93.0   green  sweet  custard apple
10        7.3  round       213.3           65.5   green   sour          guava
11        1.0  round         5.1           38.0    blue  sweet      blueberry
12       18.9  round      1212.2          101.1   brown  sweet        coconut
13        3.0   oval         9.7           31.8     red  sweet         cherry
14        8.5   oval       260.3          110.3  yellow  sweet          mango
15       16.9  round      1123.6          109.4   brown  sweet        coconut
16        6.7  round       242.3          127.2     red  sweet    pomegranate
17        9.2   oval       249.3          121.9  yellow  sweet          mango
18        7.5  round       195.4           56.7   green   sour          guava
19       15.1   oval      1305.2           98.6   brown  tangy      pineapple

In [4]:
df.dropna()

,size (cm),shape,weight (g),avg_price (₹),color,taste,fruit_name
0,25.4,round,3089.2,137.1,green,sweet,watermelon
1,24.6,round,3283.9,163.8,green,sweet,watermelon
2,7.8,round,319.0,91.3,green,sweet,custard apple
3,20.0,oval,1607.0,85.7,orange,sweet,papaya
4,10.2,long,131.5,37.8,yellow,sweet,banana
...,...,...,...,...,...,...,...
9995,3.7,round,49.7,72.7,purple,tangy,plum
9996,2.8,oval,18.1,65.5,red,sweet,strawberry
9997,8.7,oval,177.7,72.2,green,sweet,pear
9998,18.0,round,1165.0,107.0,brown,sweet,coconut
9999,7.2,round,252.1,111.3,red,sweet,pomegranate

In [5]:
df.drop_duplicates()

,size (cm),shape,weight (g),avg_price (₹),color,taste,fruit_name
0,25.4,round,3089.2,137.1,green,sweet,watermelon
1,24.6,round,3283.9,163.8,green,sweet,watermelon
2,7.8,round,319.0,91.3,green,sweet,custard apple
3,20.0,oval,1607.0,85.7,orange,sweet,papaya
4,10.2,long,131.5,37.8,yellow,sweet,banana
...,...,...,...,...,...,...,...
9995,3.7,round,49.7,72.7,purple,tangy,plum
9996,2.8,oval,18.1,65.5,red,sweet,strawberry
9997,8.7,oval,177.7,72.2,green,sweet,pear
9998,18.0,round,1165.0,107.0,brown,sweet,coconut
9999,7.2,round,252.1,111.3,red,sweet,pomegranate

In [ ]:
x = [['shape','weight']]
y = ['fruit_name']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.4, random_state=44)
model = DecisionTreeClassifier()
model.fit =(x_train, y_train)
prediction = model.predict(x_test)