In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression,LinearRegression
from  sklearn.metrics import accuracy_score,r2_score,root_mean_squared_error,confusion_matrix
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('student_performance_analysis.csv')
df.head(20)

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7
3,4,Male,10.2,64,9,53.6
4,5,Female,11.5,65,10,54.5
5,6,Male,12.8,66,11,55.4
6,7,Female,14.1,67,12,56.3
7,8,Male,15.4,68,13,57.2
8,9,Female,16.7,69,14,58.1
9,10,Male,5.0,70,5,59.0
10,11,Female,6.3,71,6,59.9
11,12,Male,7.6,72,7,60.8
12,13,Female,8.9,73,8,61.7
13,14,Male,10.2,74,9,62.6
14,15,Female,11.5,75,10,63.5
15,16,Male,12.8,76,11,64.4
16,17,Female,14.1,77,12,65.3
17,18,Male,15.4,78,13,66.2
18,19,Female,16.7,79,14,67.1
19,20,Male,5.0,80,5,68.0

In [7]:
df.drop_duplicates()

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7
3,4,Male,10.2,64,9,53.6
4,5,Female,11.5,65,10,54.5
5,6,Male,12.8,66,11,55.4
6,7,Female,14.1,67,12,56.3
7,8,Male,15.4,68,13,57.2
8,9,Female,16.7,69,14,58.1
9,10,Male,5.0,70,5,59.0
10,11,Female,6.3,71,6,59.9
11,12,Male,7.6,72,7,60.8
12,13,Female,8.9,73,8,61.7
13,14,Male,10.2,74,9,62.6
14,15,Female,11.5,75,10,63.5
15,16,Male,12.8,76,11,64.4
16,17,Female,14.1,77,12,65.3
17,18,Male,15.4,78,13,66.2
18,19,Female,16.7,79,14,67.1
19,20,Male,5.0,80,5,68.0
20,21,Female,6.3,81,6,68.9
21,22,Male,7.6,82,7,69.8
22,23,Female,8.9,83,8,70.7
23,24,Male,10.2,84,9,71.6
24,25,Female,11.5,85,10,72.5
25,26,Male,12.8,86,11,73.4
26,27,Female,14.1,87,12,74.3
27,28,Male,15.4,88,13,75.2
28,29,Female,16.7,89,14,76.1
29,30,Male,5.0,90,5,77.0
30,31,Female,6.3,91,6,77.9
31,32,Male,7.6,92,7,78.8
32,33,Female,8.9,93,8,79.7
33,34,Male,10.2,94,9,80.6
34,35,Female,11.5,95,10,81.5
35,36,Male,12.8,96,11,82.4
36,37,Female,14.1,97,12,83.3
37,38,Male,15.4,98,13,84.2
38,39,Female,16.7,99,14,85.1
39,40,Male,5.0,60,5,86.0
40,41,Female,6.3,61,6,86.9
41,42,Male,7.6,62,7,87.8
42,43,Female,8.9,63,8,88.7
43,44,Male,10.2,64,9,89.6
44,45,Female,11.5,65,10,90.5
45,46,Male,12.8,66,11,91.4
46,47,Female,14.1,67,12,92.3
47,48,Male,15.4,68,13,93.2
48,49,Female,16.7,69,14,94.1
49,50,Male,5.0,70,5,50.0

In [6]:
df.dropna()

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7
3,4,Male,10.2,64,9,53.6
4,5,Female,11.5,65,10,54.5
5,6,Male,12.8,66,11,55.4
6,7,Female,14.1,67,12,56.3
7,8,Male,15.4,68,13,57.2
8,9,Female,16.7,69,14,58.1
9,10,Male,5.0,70,5,59.0
10,11,Female,6.3,71,6,59.9
11,12,Male,7.6,72,7,60.8
12,13,Female,8.9,73,8,61.7
13,14,Male,10.2,74,9,62.6
14,15,Female,11.5,75,10,63.5
15,16,Male,12.8,76,11,64.4
16,17,Female,14.1,77,12,65.3
17,18,Male,15.4,78,13,66.2
18,19,Female,16.7,79,14,67.1
19,20,Male,5.0,80,5,68.0
20,21,Female,6.3,81,6,68.9
21,22,Male,7.6,82,7,69.8
22,23,Female,8.9,83,8,70.7
23,24,Male,10.2,84,9,71.6
24,25,Female,11.5,85,10,72.5
25,26,Male,12.8,86,11,73.4
26,27,Female,14.1,87,12,74.3
27,28,Male,15.4,88,13,75.2
28,29,Female,16.7,89,14,76.1
29,30,Male,5.0,90,5,77.0
30,31,Female,6.3,91,6,77.9
31,32,Male,7.6,92,7,78.8
32,33,Female,8.9,93,8,79.7
33,34,Male,10.2,94,9,80.6
34,35,Female,11.5,95,10,81.5
35,36,Male,12.8,96,11,82.4
36,37,Female,14.1,97,12,83.3
37,38,Male,15.4,98,13,84.2
38,39,Female,16.7,99,14,85.1
39,40,Male,5.0,60,5,86.0
40,41,Female,6.3,61,6,86.9
41,42,Male,7.6,62,7,87.8
42,43,Female,8.9,63,8,88.7
43,44,Male,10.2,64,9,89.6
44,45,Female,11.5,65,10,90.5
45,46,Male,12.8,66,11,91.4
46,47,Female,14.1,67,12,92.3
47,48,Male,15.4,68,13,93.2
48,49,Female,16.7,69,14,94.1
49,50,Male,5.0,70,5,50.0

In [ ]:

X = df[['hours_studied', 'assignments_completed']]
y = df['test_score']

# Split
X_train, X_test, Y_train, Y_test = train_test_split(
    X, y, test_size=0.3, random_state=44
)

model = LinearRegression()
model.fit(X_train, Y_train)

pred = model.predict(X_test)

print("R^2 Score:", r2_score(Y_test, pred))

R^2 Score: -0.055672171080974664

In [4]:
print(df.shape)
print(df)

(50, 6)
    student_id  gender  hours_studied  attendance_percent  \
0            1  Female            6.3                  61
1            2    Male            7.6                  62
2            3  Female            8.9                  63
3            4    Male           10.2                  64
4            5  Female           11.5                  65
5            6    Male           12.8                  66
6            7  Female           14.1                  67
7            8    Male           15.4                  68
8            9  Female           16.7                  69
9           10    Male            5.0                  70
10          11  Female            6.3                  71
11          12    Male            7.6                  72
12          13  Female            8.9                  73
13          14    Male           10.2                  74
14          15  Female           11.5                  75
15          16    Male           12.8                  76
16          17  Female           14.1                  77
17          18    Male           15.4                  78
18          19  Female           16.7                  79
19          20    Male            5.0                  80
20          21  Female            6.3                  81
21          22    Male            7.6                  82
22          23  Female            8.9                  83
23          24    Male           10.2                  84
24          25  Female           11.5                  85
25          26    Male           12.8                  86
26          27  Female           14.1                  87
27          28    Male           15.4                  88
28          29  Female           16.7                  89
29          30    Male            5.0                  90
30          31  Female            6.3                  91
31          32    Male            7.6                  92
32          33  Female            8.9                  93
33          34    Male           10.2                  94
34          35  Female           11.5                  95
35          36    Male           12.8                  96
36          37  Female           14.1                  97
37          38    Male           15.4                  98
38          39  Female           16.7                  99
39          40    Male            5.0                  60
40          41  Female            6.3                  61
41          42    Male            7.6                  62
42          43  Female            8.9                  63
43          44    Male           10.2                  64
44          45  Female           11.5                  65
45          46    Male           12.8                  66
46          47  Female           14.1                  67
47          48    Male           15.4                  68
48          49  Female           16.7                  69
49          50    Male            5.0                  70

    assignments_completed  test_score
0                       6        50.9
1                       7        51.8
2                       8        52.7
3                       9        53.6
4                      10        54.5
5                      11        55.4
6                      12        56.3
7                      13        57.2
8                      14        58.1
9                       5        59.0
10                      6        59.9
11                      7        60.8
12                      8        61.7
13                      9        62.6
14                     10        63.5
15                     11        64.4
16                     12        65.3
17                     13        66.2
18                     14        67.1
19                      5        68.0
20                      6        68.9
21                      7        69.8
22                      8        70.7
23                      9        71.6
24                     10        72.5
25                     11        73.4
26                     12        74.3
27                     13        75.2
28                     14        76.1
29                      5        77.0
30                      6        77.9
31                      7        78.8
32                      8        79.7
33                      9        80.6
34                     10        81.5
35                     11        82.4
36                     12        83.3
37                     13        84.2
38                     14        85.1
39                      5        86.0
40                      6        86.9
41                      7        87.8
42                      8        88.7
43                      9        89.6
44                     10        90.5
45                     11        91.4
46                     12        92.3
47                     13        93.2
48                     14        94.1
49                      5        50.0